body{
	background-color: #444445;
}
span{
	color: white;
}
.navbar{
	display: block;
	background-color: #919196;
	text-decoration: none;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid blue;
position: fixed;
top: 0;
left: 0;
	}
.navbar-logo{
	font-size: 35px;

}
a{
	color: black;
	text-decoration: none;
}
.menu{
	margin-left: 580px;
}
.navbar-menu{
	padding: 5px;
	margin: 5px;
	font-weight: bold;
	font-size: 25px;
}
.login{
	display: none;
	position: fixed;
	width: 60px;
	height: 70px;
	margin-left: 90%;
	background-color: white;
	border: 3px solid blue;
	font-weight: bold;
	border-radius: 10px;
}
.login1{
	display: none;
	position: fixed;
	width: 60px;
	height: 70px;
	margin-top: 20px;
	margin-left: 91%;
	background-color: white;
	border: 3px solid blue;
	font-weight: bold;
	border-radius: 10px;
}
.gambar-utama{
	margin-top: 150px;
	margin-left: 750px;
	width: 500px;
	height: 400px;
}
.home-table{
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.home{
	margin-top: 50px;
	border-radius: 5px;
	padding: 5px;
	border-color: white;

}
.home-teks{
	text-align: center;
	font-size: 40px;
	margin-top: 200px;
	text-shadow: 1px 3px 5px blue;
	color: blue;
	animation-name: kecil;
            animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        @keyframes example {
  0%   {color: blue;}
  50%  {color: yellow;}
  100% {color: red;}
}
.home1{
	border-radius: 5px;
	padding: 5px;
	border-color: white;
}
.home2{
	border-radius: 5px;
	padding: 5px;
	border-color: white;
}
.footer{
	border-top: 5px solid orange;
	justify-content: space-between;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	position: fixed;
	text-shadow: 1px 3px 5px white;
	animation-name: huda;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes huda {
	0% {color: white;}
	25% {color: green;}
	50% {color: orange;}
	100% {color: red;}
}
.footer1{
	border-top: 5px solid orange;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top: 130px;
	text-shadow: 1px 2px 5px white;
	animation-name: nam;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes nam {
	0% {color: white;}
	25% {color: green;}
	50% {color: orange;}
	100% {color: red;}
}
.td{
	visibility: hidden;
}